*{
    margin: 0;
    padding: 0;
}
.body{
    /* background-color: #A75173; */
    /* background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%); */
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.profile{
    
    margin-left: 30px;
}
.intro{
    font-family: monospace;
}
/* Contact Form */
.container {
    margin: 50px;
    padding-top: 50px;
}
.container h4{
    color: #fff;
    text-align: center;
    font-size: 24px;
}
.mail {
    text-align: center;
    padding-top: 20px;
}
.mobile{
    padding-left: 250px;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: teal;
    color: #fff;
    text-align: center;
    height: 40px;
}

.footer p{
    padding-top: 10px;
}